extends layout

block content
  |<div id="container"/>
  //- inject:js
  |<script type="text/jsx" src="js/App.jsx"/>
  |<script type="text/jsx" src="js/ArticleGetter.jsx"/>
  |<script type="text/jsx" src="js/FreeDictBox.jsx"/>
  //- endinject
