doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css")
        script(src="/semantic/dist/semantic.min.js")
    body
      block content
